{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="page-title">Projects</h4>
            </div>
            <div class="col-xs-8 text-right m-b-30">
                <a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i> Nouveau Project</a>
            </div>
        </div>
        <div class="row">
            {% if projets|length != 0 %}
            {% for projet in projets %}
                <div class="col-lg-3 col-sm-4">
                    <div class="card-box project-box">
                        <div class="dropdown profile-action">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#edit_project" data-id="{{ projet.id }}" class="openModalEditProjet"><i class="fa fa-pencil m-r-5"></i> Modifier</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#delete_project" data-id="{{ projet.id }}" class="openModalDeleteProjet"><i class="fa fa-trash-o m-r-5"></i> Supprimer</a></li>
                            </ul>
                        </div>
                        <h4 class="project-title"><a href="{{ path('projet_details', {'slugProjet':projet.slugProjet}) }}">{{ projet.titreProjet }}</a></h4>
                        <small class="block text-ellipsis m-b-15">
                            <span class="text-xs">2</span> <span class="text-muted">open tasks, </span>
                            <span class="text-xs">5</span> <span class="text-muted">tasks completed</span>
                        </small>
                        <p class="text-muted">
                            {{ projet.descriptionProjet[:120] }} ...
                        </p>
                        <div class="project-members m-b-15">
                            <div>Chef(s) de projet :</div>
                            <ul class="team-members">
                                <li>
                                    <a href="#" data-toggle="tooltip" title="{{ projet.user.username }}"><img src="{{ asset('assets/img/user.jpg') }}" alt="Jeffery Lalor"></a>
                                </li>
                            </ul>
                        </div>
                        {% if projet.team|length != 0 %}
                        <div class="project-members m-b-15">
                            <div>Les utilisateurs :</div>
                            <ul class="team-members">
                                {% for developer in projet.team %}
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="{{ developer.username }} ({{ developer.situationUser }})"><img src="{{ asset('assets/img/user.jpg') }}" alt="Jeffery Lalor"></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
                        <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="40%" style="width: 40%"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="col-lg-12">
                    <div class="alert alert-danger">
                        Aucun projet ! <a href="#" data-toggle="modal" data-target="#create_project"> Ajouter un nouveau projet ?</a>
                    </div>
                </div>
            {% endif %}
        </div>


        {{ render(controller('ProjetBundle:ModalProjet:ajouter')) }}
        {{ render(controller('ProjetBundle:ModalProjet:modifier')) }}
        {{ render(controller('ProjetBundle:ModalProjet:supprimer')) }}
    </div>
{% endblock %}